body
{
	background-color:#FCFCFC;
}
.topPanelRoot
{
    height: 45px;
    line-height: 45px;
    background-color: #F9F9F9;
}
.topViewIcon
{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    text-align: center;
}
.topViewSelection
{
    display: inline-block;
}
.topLeftItems
{
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -9px;
    cursor: pointer;
    /*font-family: 'segoeui';
    font-size: 13px;*/
}
.topLeftItemFilterSelected
{
    border-right: 1px solid #DDD;
    background-color: #ECECEC;
}
.topLeftItems i, .topRightItems i
{
    color: #F25022;
}
.topRightItems
{
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    cursor: pointer;
    float: right;
    /*font-family: 'segoeui';
    font-size: 13px;*/
}
.leftFilterHeader
{
    display: inline-block;
    width: 100%;
    padding-left: 9px;
    border-bottom: 1px solid #DDD;
    font-size: 15px;
    color: #777;
}
.leftFilterRoot
{
    border-right: 1px solid #DDD;
    background-color: #FFF;
}
.rightFilterRoot
{
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    background-color: #F9F9F9;
}
.filterProductsRoot
{
    
}
.dashboardMain
{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    clear: both;
    display: table-row;
    font-size: 12px;
}
.leftColumn, .rightColumn {
    float: left;
    padding-bottom: 500%;
    margin-bottom: -500%;
}
.leftColumn
{
    background-color: #F9F9F9;
    border-top: 1px solid #DDD;
}
.filterLists
{
    padding: 9px 0;
    margin-right: 9px;
    display: inline-block;
    cursor: pointer;
    min-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filterLists .filterCheckBox
{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 3px;
}
.filterCheckBox
{
    color: #F25022;
}
.filterLists .filterListItem
{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.divBorder
{
    border-bottom: 1px solid #DDD;
}
.myButton
{
    position: fixed;
    left: 84px;
    /* top: 2px; */
    z-index: 999;
    bottom: 18px;
}
.filterSubmitButton
{
    position: absolute;
    top:600px;
    text-align: center;
    width: 100%;
}
.myFilterBtn
{
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #F5F5F5;
    border:1px solid #DDD;
    border-radius: 4px;
    cursor: pointer;
    color: #7e7e7e;
}
.monthViewPanel
{
    
}
.eachMonthTopPanel
{
    text-align: center;
    color: #F25022;
    margin: 9px 0;
}
.viewDisplayPeriod
{
    color: #999;
    font-size: 11px;
}
.eachMonthDataPanel
{
    /*border: 1px dashed rgba(0, 3, 51,0.3);*/
    border: 0.5px dashed #DDD;
    min-height: 180px;
    max-height: 180px;
    overflow: auto;
    position: relative;
    
}
.featuresCount
{
    position: absolute;
    right: 3px;
    bottom: 0;
    color: #333;
    font-size: 11px;
}
.firstColumnData
{
    margin-left: 21px;
}

.rotatePillarOuter
{
    position: relative;
}
.rotatePillar
{
    position: absolute;
    left: 0;
    text-align: center;
    min-width: 178px;
    border-bottom: 1px dashed #DDD;
    background-color: #DDD;
    color:#fff;
    -webkit-transform: rotate(270deg) translateX(-100%);
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    color: #F25022;
    height: 27px;
    line-height: 27px;
}
.pillarFeatureList
{
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #E9E9E9;
    background-color: #FFF;
    margin: 2px 0;
    padding-left: 9px;
    box-shadow: 0 1px 2px 0px #EAEAEA;
    cursor: pointer;
}
.pillarFeatureList:hover
{
    border:  1px solid #DDD;
}
.pillarFeatureList .momentTypeIcon
{
    position: absolute;
    left: -8px;
    top: -9px;
}
.firstPillarColumn .viewMomentType
{
    position: relative;
    width: 95%;
    height: 16px;
    line-height: 16px;
    margin-bottom: 2px;
    font-size: 11px;
}
.viewMomentType
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 16px;
    line-height: 16px;
    margin-bottom: 2px;
    font-size: 11px;
    padding-left: 12px;
}
.momentColorIndicator
{
    height: 20px;
    background-color: #01A4EF;
    padding: 0;
    display: inline-block;
    width: 6px;
}
.momentTypeName
{
    height: 20px;
    /*border: 1px solid #01A4EF;*/
}
.momentConsumer
{
    border: 1px solid #01A4EF;
    margin-bottom: 3px;
}
.momentConsumer .momentColorIndicator
{
    width: 5px;
    display: inline-block;
    background-color: #01A4EF;
}
.momentCommercial .momentColorIndicator
{
    width: 5px;
    display: inline-block;
    background-color: #84B900;
}
/*
.momentConsumer .viewMomentIndicator
{
    background-color: #01A4EF;
}
.momentCommercial .viewMomentIndicator
{
    background-color: #84B900;
}
*/
.viewMomentName
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.eachMomentNameRoot
{
    position: relative;
    display: inline-block;
    width: 48%;
    background-color: #FFF;
    margin: 2px 2px;
    padding-left: 9px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.momentNamecolor
{
    position: absolute;
    left: 0;
    width: 6px;
    height: 20px;    
}
.momentConsumer .momentNamecolor
{
    background-color: #84B900;
}
.momentCommercial .momentNamecolor
{
   background-color: #01A4EF;
}
.momentCommercial
{
    border: 1px solid #01A4EF;
}
.momentConsumer
{
    border: 1px solid #84B900;
}
.momentCommercial .viewMomentIndicator, .momentConsumer .viewMomentIndicator
{
    width: 9px;
    position: absolute;
    display: inline-block;
    left: 0px;
    height: 15px;
}
.addEditBtnPanel
{
    position: fixed;
    bottom: 0px;
    height: 45px;
    border-top: 1px solid #DDD;
    line-height: 45px;
    width: 25%;
    text-align: center;
    background-color: #FFF;
}
.addEditBtn
{
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 90px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #F25022;
    color: #555;
    cursor: pointer;
    margin-right:6px;
    color: #F25022;
}
.addEditBtnIcons
{
    color: #555;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.disabledData
{
    color: #D0D0D0;
    cursor: pointer;
}
.modal-content .popupClose
{
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #DDD;
    display: inline-block;
    text-align: center;
    z-index: 1;
}
.popupHeaderBorder
{
    height: 27px;
    border-bottom: 1px solid #DDD;
}
.popupEmptyBorder
{
    height: 9px;
    border-bottom: 1px solid #DDD;
}
.myCustomSelectBox
{
    display: inline-block;
    width: 100%;
    height: 22px;
    padding: 3px 3px;
    font-size: 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 2px;
    border: 1px solid #CCC;
    background-color: #FFF;
}
.addNewPanelOption, .addNewPanelClose
{
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
    cursor: pointer;
}
.addNewPanelClose
{
    border-right: 0;
    background-color: #999;
}
.addNewPanelClose i
{
    color: #F9F9F9;
}
.addNewPanelMore
{
    text-align: right;
}
.addNewActivePanel
{
    background-color: #F9F9F9;
    border-bottom: 0;
}
.popupDetailedDataColumn
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.popupDetailedEachRow
{
    margin-bottom: 6px;
    font-size: 12px;
}
.myCustomTextBox
{
    box-shadow: none;
    border-radius: 0;
    border:1px solid #CCC;
    height: 22px;
    padding: 2px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
}
.myCustomTextBox:hover, .myCustomTextBox:focus
{
    box-shadow: none;
    border-radius: 0;
    border:1px solid #CCC;
    height: 22px;
    padding: 2px;
}
.addNewItem
{
    margin: 3px 0;
}
.textOverFlow
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}